= simple_form_for @survey, url: admin_surveys_path do |f|
    = f.input :title
    = f.input :public, as: :boolean
    = f.association :user, label_method: :first_name, include_blank: false
    = f.association :tags, label_method: :title, include_blank: false
    = f.input :all_tags, class: 'form-control'
    = f.button :submit, class: 'btn btn-info'
