= simple_form_for @survey, url: admin_surveys_path do |f|
    = f.input :title
    = f.input :public, as: :boolean
    = f.association :user, label_method: :first_name, include_blank: false
    = f.input :all_tags, collection: Tag.all.map{|tag| [tag.title, tag.id]}, selected: 5
    = f.button :submit, class: 'btn btn-info'
