!!!
%html
  %head
    %title Админка анкетирования
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'admin_application', media: :all
    
  %body
    .container
      = render 'layouts/admin/header'
      = yield
