= simple_form_for @question, url: respondent_question_path(@question.id) do |f|
  = f.input :title
  = f.input :position
  = f.select :kind, Question.kind.options
  = f.association :survey, include_blank: false
  = f.button :submit, class: 'btn btn-info'
