= link_to t('.add_question'), new_admin_survey_question_path, class: 'btn btn-info'

%table.table.table-hover
  %tr
    %th= han(:question,:id)
    %th= han(:question,:title)
    %th= han(:question,:position)
    %th= han(:question,:kind)
    %th= han(:question,:survey)
    %th= t('.control')
  - @questions.each do |question|
    %tr
      %td= question.id
      %td= question.title
      %td= question.position
      %td= question.kind_text
      %td= question.survey.title
      %td= button_to t('.delete'), admin_survey_questions_path(question.id), method: :delete, class: 'btn btn-info'
