= link_to t('.add_question'), new_admin_question_path, class: 'btn btn-info'

%table.table.table-hover
  %tr
    %th= han(:question,:id)
    %th= han(:question,:title)
    %th= han(:question,:position)
    %th= han(:question,:kind)
    %th= t('.control')
  - @questions.each do |question|
    %tr
      %td= question.id
      %td= question.title
      %td= question.position
      %td= question.kind
      %td= link_to t('delete'), admin_question_path(question.id), method: :delete