%table
  %tr
    %td= t('id')
    %td= t('title')
    %td= t('position')
    %td= t('type')
  - @questions.each do |question|
    %tr
      %td= question.id
      %td= question.title
      %td= question.position
      %td= question.kind
      %td= link_to t('delete'), admin_question_path(question.id), method: :delete