%b= t('.show') + " #{@question.title}"

%table.table.table-hover
  %tr
    %th= han(:variant, :title)
    %th= t('.control')
  - @question.variants.each do |variant|
    %tr
      %td= variant.title
      %td= link_to t('.edit'), edit_admin_variant_path(variant), class: 'btn btn-info'
      %td= button_to t('.destroy'), admin_variant_path(variant), method: :delete, class: 'btn btn-info'
