= link_to t('.add_variant'), new_admin_variant_path, class: 'btn btn-info'

%table.table.table-hover
  %tr
    %th= han(:variant, :id)
    %th= han(:variant, :title)
    %th= han(:variant, :question)
  - @variants.each do |variant|
    %tr
      %td= variant.id
      %td= variant.title
      %td= variant.question.title
      %td= button_to t('.delete'), admin_variant_path(variant.id), method: :delete, class: 'btn btn-info'

