%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to t('header.homepage'), root_path, class: 'navbar-brand'
  %div.collapse.navbar-collapse
    - if current_user
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          = link_to t('header.my_surveys'), '#', class: 'nav-link'
      %div
        - if admin_signed_in?
          %div{style: "color: white"}= current_user.email 
          = link_to t('header.log_out'), admin_session_path, method: :delete
        - if respondent_signed_in?
          %div{style: "color: white"}= current_user.phone 
          = link_to t('header.log_out'), respondent_session_path, method: :delete
    - else
      %div
        = link_to t('header.log_in_admin'), new_admin_session_path, class: 'btn btn-danger'
        = link_to t('header.log_in_respondent'), new_respondent_session_path, class: 'btn btn-primary'


        
