%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to t('header.homepage'), root_path, class: 'navbar-brand'
  %div.collapse.navbar-collapse
    - if current_user
      %ul.navbar-nav.mr-auto
        %li.nav-item.active
          = link_to t('header.users'), admin_users_path, class: 'nav-link'
        %li.nav-item.active
          = link_to t('header.surveys'), admin_surveys_path, class: 'nav-link'
        %li.nav-item.active
          = link_to t('header.tags'), admin_tags_path, class: 'nav-link'
        %li.nav-item.active
          = link_to t('header.questions'), admin_questions_path, class: 'nav-link'


        
