= link_to 'Add Admin', new_admin_admin_path
= link_to 'Add Respondent', new_admin_respondent_path
%table.table.table-hover
  %tr
    %th= I18n.t('.id')
    %th= t('.first_name')
    %th= t('last_name')
    %th= t('.type')
    %th= t('.email')
    %th= t('.phone')
    %th= t('.state')
    %th= t('.control')
  - @users.each do |user|
    %tr
      %td= link_to user.id, admin_user_path(user.id)
      %td= user.first_name
      %td= user.last_name
      %td= user.type
      %td= user.email
      %td= user.phone
      %td= user.state
      %td
        = link_to 'Edit', edit_admin_user_path(user.id)
        = link_to 'In Archive', in_archive_admin_user_path(user.id), method: :put
        = link_to 'Restore', restore_admin_user_path(user.id), method: :put